@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Roboto Mono";
  text-decoration: none;
  color: rgb(202, 231, 255);
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(rgb(16, 68, 105), rgb(208, 194, 220));
  height: 260vh;
}
@media only screen and (max-width: 912px) {
  body {
    height: 160vh;
  }
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color: rgba(27, 60, 73, 0.7);
}
main {
  position: relative;
  top: 8rem;
}
.logo {
  margin-left: 2rem;
}
#nav-container {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
.nav-container-two {
  display: none;
}
@media only screen and (max-width: 580px) {
  #nav-container {
    display: none;
  }
  .nav-container-two {
    width: 75%;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
li a {
  position: relative;
  color: rgb(92, 156, 201);
}
li a:hover {
  color: rgb(202, 231, 255);
}

li a::after {
  content: "";
  top: 24px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(96, 192, 248);
  transition: all 0.4s ease;
}
li a:hover::after {
  width: 90%;
  box-shadow: 0 0 10px rgb(97, 194, 247);
}

#about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

#about-me h1 {
  border-bottom: 1px solid rgb(96, 192, 248);
  border-bottom-width: 2px;
}
.content-container {
  width: clamp(150px, 50%, 400px);
  border: 2px solid rgb(96, 192, 248);
  border-radius: 15px;
  padding: 10px;
}
@media only screen and (max-width: 580px) {
  #about-me {
    flex-direction: column-reverse;
  }
  .content-container {
    width: 95%;
  }
}
.image-container {
  width: 300px;
  height: 450px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid rgb(234, 199, 199);
  transition: all 0.35s ease;
}
.image-container:hover {
  cursor: pointer;
  box-shadow: 0 0 50px rgba(96, 192, 248, 0.5);
}
.selfie {
  filter: blur(5px);
  opacity: 0.3;
  border-radius: 1rem;
}
.spoiler {
  z-index: 5;
  font-size: 1rem;
  position: absolute;
}
.spoiler::after {
  content: "";
  top: 24px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(96, 192, 248);
  transition: all 0.4s ease;
}
.spoiler:hover::after {
  width: 100%;
  box-shadow: 0 0 10px rgb(97, 194, 247);
}
footer {
  position: relative;
  top: 8rem;
}
#project-container {
  margin-top: 50px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
}
.card h3,
.card p,
#project-container h2 {
  color: rgb(16, 68, 105);
}
.card-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.5rem;
}
.card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media only screen and (max-width: 580px) {
  .card {
    flex-direction: column-reverse;
  }
  .card-content {
    border-bottom: 1px solid black;
  }
}
.card-image {
  padding: 0.3125rem;
  padding-bottom: 1px;
  border: 1px solid rgb(16, 68, 105);
  border-radius: 1rem;
}
.card-image img {
  border-radius: 0.6875rem;
}
#skill-container {
  background-color: rgb(16, 68, 105);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
#skill-container h2 {
  text-align: center;
}
#skill-container i {
  font-size: 2rem;
}
footer {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.3rem;
  text-align: center;
}
footer h3 {
  color: rgb(16, 68, 105);
  margin: 0;
}
